body {
    display: flex;
    flex-direction: column;
    align-items: left;
}

td {
    min-width: 35px;
    height: 35px;
    border: 3px solid black;
    background-color: rgb(105, 105, 105);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.enemyBoard {
    display: flex;
    align-self: left;
}

.enemyBoard td {
    min-width: 35px;
    height: 35px;
    border: 3px solid black;
    background-color: rgb(7, 94, 14);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    flex-shrink: 0;
}

.enemyBoard td:hover {
    background-color: greenyellow;
}

.enemyBoard-controls {
    display: flex;
    flex-direction: row;
}

.controlsText {
    margin: 10px;
    flex-shrink: 1;
}

.controlsImages {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
    /* align-content: center; */
    /* justify-items: center; */
}

.controlsImages img {
    height: 150px;
}

.playerBoard td {
    min-width: 35px;
    height: 35px;
    border: 3px solid black;
    background-color: rgb(56, 189, 233);
    color: white;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.playerBoard-words {
    display: flex;
    flex-direction: row;
}

.words{
    margin-left: 20px;
}

.hit {
    background-color: tomato !important;
}

.miss{
    background-color: cornsilk !important;
    color: rgb(56, 189, 233) !important;
}

.place {
    background-color: gold !important;
}

.placed {
    background-color: rgb(105, 105, 105) !important;
}

td:hover {
    /* cursor: crosshair; */
    /* cursor: url(C:/Users/Phil/lighthouse/battleship/images/passenger_ship.png), auto; */
}